/* CSS definition file containing sitestyle stylesheets */
body {background-color: white;width:100%;}
#wrapper {width: 60%; margin:4px auto;}


.alone { clear:both; margin:10px;}
#footer {font-family: Arial, Verdana, Helvetica ; font-size: 9pt; font-style:italic; text-align:center;}
.oneimage {padding:1em; width:300px;text-align:center;}

.logo-container{
    margin: 0px auto -7px auto;
    width: 60%;
}
.logo-container img{
    height: 170px;
}
.logo-container a{
    font-family: 'Lucida Console';
}
.menu-placeholder
{
    background-color: #3e433e!important;
    color:white;
    display:block;
    font-family:'PT Sans', sans-serif;
    font-size:14px;
    height:56px;
    line-height:21px;
    position:relative;
    visibility:visible;
    text-align: center;
}
.menu-container
{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.menu-container a
{
    text-decoration:none;
    color:white; 
    font-weight:bold;    
}
.menu-container ul
{
    list-style-type:none; 
    padding-top:12px;
    font-size: 120%;
}
.menu-container ul li
{
    float:left; 
    margin-right:15px;
    color:white;
    list-style-type:none;
    padding: 0.4%;
}
.menu-container ul li:hover
{       
    background-color: lightgrey;
    border-radius: 5%;
}